<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- A-frame script -->
  <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>

  <!-- Look-at Component -->
  <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>

  <!-- Webcentric Component -->
  <script src="https://unpkg.com/aframe-webcentric-component/dist/aframe-webcentric-component.min.js"></script>

  <!-- Event-set Component -->
  <!--<script src="https://unpkg.com/aframe-event-set-component/dist/aframe-event-set-component.min.js"></script>-->

  <script src="js/component.js"></script>
  <title>Coimbra By Ear</title>
</head>

<body>
  <a-scene webcentric cursor="rayOrigin: mouse">
    <a-entity id="camerarig">
      <a-camera id="camera" wasd-controls-enabled="false" rotation-reader>
        <a-cursor></a-cursor>
      </a-camera>
    </a-entity>

    <!-- Ficheiros externos -->
    <a-assets id="Assets">
      <!-- Imagens -->
      <img id="jardimBotanico" src="images/jardimBotanico.png"></img>
    </a-assets>

    <!-- Formas geométricas do Jardim Botânico -->
    <a-entity position="0 0 0">
      <a-entity rotation="0 0 0">
        <a-entity position="0 -2 -15">
          <a-entity class="infopanel" look-at="#camera" position="0 7 0">
            <%- include("./partials/infoPanel") -%>
          </a-entity>
          <a-entity id="StartButton" look-at="#camera">
            <a-plane width="8" height="2" color="black"></a-plane>
            <a-text position="0 0 0.01" color="white" value="Click to start audio" width="16" align="center"></a-text>
          </a-entity>
          <a-entity id="SynthButton" look-at="#camera" position="0 -3 0">
            <a-plane width="6" height="2" color="black"></a-plane>
            <a-text position="0 0 0.01" color="white" value="Synth On/Off" width="16" align="center"></a-text>
          </a-entity>
        </a-entity>
      </a-entity>
      <!-- Pessoas a conversar -->
      <a-entity class="physicalSound" rotation="0 -138 0">
        <a-entity position="0 -2 15" look-at="#camera">
          <a-circle radius="2" scale="1 1 1" material="side: double; color:lightblue; transparent: true; opacity: 0.85"></a-circle>
          <%- include("./partials/botoesParametros") -%>
        </a-entity>
      </a-entity>
      <!-- Árvores -->
      <a-entity class="physicalSound" rotation="0 -120 0">
        <a-entity position="0 10 20" look-at="#camera">
          <a-circle radius="2" scale="1 1 1" material="side: double; color:lightblue; transparent: true; opacity: 0.85"></a-circle>
          <%- include("./partials/botoesParametros") -%>
        </a-entity>
      </a-entity>
      <!-- Mexer na água -->
      <a-entity class="physicalSound" rotation="0 -45 0">
        <a-entity position="0 -2 20" look-at="#camera">
          <a-circle radius="2" scale="1 1 1" material="side: double; color:lightblue; transparent: true; opacity: 0.85"></a-circle>
          <%- include("./partials/botoesParametros") -%>
        </a-entity>
      </a-entity>
      <!-- Queda de água -->
      <a-entity class="physicalSound" rotation="0 0 0">
        <a-entity position="0 -3 20" look-at="#camera">
          <a-circle radius="2" scale="1 1 1" material="side: double; color:lightblue; transparent: true; opacity: 0.85"></a-circle>
          <%- include("./partials/botoesParametros") -%>
        </a-entity>
      </a-entity>
      <!-- Carros -->
      <a-entity class="physicalSound" rotation="0 45 0">
        <a-entity position="0 4 20" look-at="#camera">
          <a-circle radius="2" scale="1 1 1" material="side: double; color:lightblue; transparent: true; opacity: 0.85"></a-circle>
          <%- include("./partials/botoesParametros") -%>
        </a-entity>
      </a-entity>
    </a-entity>

    <!-- Sky do Jardim Botânico -->
    <a-entity position="0 0 0">
      <a-sky src="#jardimBotanico"></a-sky>
    </a-entity>
  </a-scene>

  <script src="js/Tone.js"></script>
  <script>
    let pagina = 1;
  </script>
  <script src="js/audio.js"></script>
</body>

</html>
